* {
    padding: 0px;
    margin: 0px;
}

.navSecundario{
    padding: 15px;
    font-size: xx-large;
    font-weight: 200;
    background-color: af2385;
    font-family: Arial, Helvetica, sans-serif;
}

.navSecundario ul{
    list-style-type: none;
}

.navSecundario ul li{
    display: inline-block;
}

.navSecundario ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 900;
}

.titulo2{
    text-align: center;
    padding: 5px;
}

.navPrimario{
    background-color: #f70759;
}

.navPrimario ul{
    list-style-type: none;
}

.navPrimario ul li{
    display: inline-block;
}

.navPrimario ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 145px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navPrimario ul li a:hover {
        background-color:rgb(28, 124, 141);
}

.imagen{
background-image: url(../Beaches-Turks-and-Caicos-Grace-Bay-Beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
  height: 50vh;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.titulo{
    text-align: center;
    padding: 10px;
}





